<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @card.recipient_name %>, You've receive an Alt-E-Gift Card from <%= @card.sign_off %></h3>
    <p>
      To see your card, just follow this <a href="http://localhost:3000/cards/<%=@card.id%>/show">link</a>
    </p>


    <p>Have a great day!</p>
    <p>Alt-e & Co</p>
  </body>
</html>
