<form action="/cards/<%=@card.id%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="patch">
  <%= render "card_editor" %>
</form>
