<h1>PIXABAY</h1>
<input type="input" id="search_input" placeholder="categorysearch" value="">
<button class="search_btn">SEARCH</button>

<div class="container">
  <div class="selected-image">

  </div>

  <div class="image-results">

  </div>
</div>
