

<!-- <div class="box">
  Particular fields here
  <button class="back">Back</button>
  <button class="next">Next</button>
</div> -->

<form class="box-wrapper" action="/cards/create" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <%= render "card_editor" %>
</form>
