body {
  font-family: sans-serif;
}

img:hover {
  cursor: pointer;
}

.chosen-image {
  width: 450px;
  height: 50%;
  background-color: white;
  padding:15px;
  padding-bottom: 100px;
  clear:both;
  margin:0 auto;
}

.chosen-image:hover {
  cursor: pointer;
}

@font-face {
    font-family:bebas;
    src: url(BebasNeue.otf);
}

.your-class img{
  width: 100px;
  height: 75px;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  margin: 0;
}

.your-class{
  background-color:#e1e8f0;
  overflow: scroll;
  height:315px;
  padding:15px 0px;
  width: 100%;
}

#image{
  width: 640px;
  height: 480px;
}

#title{
  font-family: bebas;
  text-shadow: 3px 3px white;
  display:inline;
  z-index: -1;
  font-size: 100px;
  position:absolute;
}

/*.post{
    background-color: #71dada;
    padding:20px;
    padding-bottom:100px;
    display:block;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.47);
    -moz-box-shadow:    4px 4px 8px 0px rgba(50, 50, 50, 0.47);
    box-shadow:         4px 4px 8px 0px rgba(50, 50, 50, 0.47);
    border-radius: 3px;
    max-width:640px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    color:#221E1D;
    position:relative;
}*/
