// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: "Bebas";
  src: font-url('assets/fonts/BebasNeue.otf') format('opentype');
}

@font-face {
  font-family: "bodoni";
  src: font-url('assets/fonts/Bodoni.ttc') format('truetype');
}

.background_col {
  width:700px;
  max-width:700px;
  height: 600px;
  max-height:560px;
  display: inline-block;
  position:relative;
}

.background_img {
  position: relative;
  margin:3% 3% 3.5%;
  text-align: center;

}

.preview_img{
  width: 650px;
  height: 450px;
}



.card-title {
    position: absolute;
    left: 0;
    top: 70%;
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 4em;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px black;
}

.card-message {
  font-size: 2em;
  font-family:roboto;
  position: absolute;
  text-align: center;
  font-size: 25px;
  width:100%;
}
