// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: "Bebas";
  src: font-url('assets/fonts/BebasNeue.otf') format('opentype');
}

@font-face {
  font-family: "bodoni";
  src: font-url('assets/fonts/Bodoni.ttc') format('truetype');
}

.background_col {
  width:700px;
  max-width:700px;
  height: 500px;
  max-height:500px;
  display: inline-block;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}


.background_img {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top:3%;
}

.card-text {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-title {
  font-size: 5em;
  font-weight: bold;
  color: white;
  text-shadow: 5px 5px black;
  font-family: bebas;
}

.card-message {
  font-size: 2em;
  font-family: bodoni;
}
