// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.saved-cards-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  border-bottom: 1px solid #42c1c2;
  margin-bottom: 0;
}

.saved-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #42c1c2;
}

.saved-card-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.saved-headings {
  margin-top: 10px;
  margin-bottom: 10px;
}

.session-saved-title {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.session-btn-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.session-wrapper {
  display: flex;
  flex-direction: row;
}

.session-logout {
  display: flex;
  flex-direction: row;
}

.session-left-box,
.session-right-box  {
  display: flex;
  height: 300px;
  flex-direction: column;
  width: 50%;
  padding-top: 10px;
  margin-left: 20px;
  position: relative;
}

.session-buttons {
  position: absolute;
  bottom: 0;
}

.session-account {
  width: 90%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;

}

.session-buttons button {
  display: inline-block;
  width: 150px;
  height: 50px;
  border: none;
  color: white;
  background-color: #47c1c2;
  margin: 5%;
  font-size: 1.2em;
  border-radius: 5px;

}

.session-buttons button:hover {
  background-color: #7ededf;
}

.session-buttons button a {
  text-decoration: none;
  color: black;
}

.session-buttons button .filter {
  margin-top: 0px;
  margin-bottom: 0px;
}

.session-inputs input {
  display: block;
  border: none;
  border-bottom: 2px solid #47c1c2;
  font-size: 1.3em;
  padding: 2%;
  color: #47c1c2;
  background: none;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px  ;
}

form {
  margin-top: 0;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

textarea:focus, input:focus{
    outline: none;
}


h1, h2, h3, p {
  color: #47c1c2;
}
