// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.saved-cards-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  border-bottom: 1px solid #42c1c2;
  margin-bottom: 0;
}

.saved-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #42c1c2;
}

.saved-card p{
  color:#707070;
}

.saved-card-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  letter-spacing: .12em;
  text-transform: uppercase;
}

.saved-headings {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  color:#424242;

}

.session-saved-title {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.session-btn-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.session-wrapper {
  display: flex;
  flex-direction: row;
}

.session-logout {
  display: flex;
  flex-direction: row;
}

.session-left-box,
.session-right-box  {
  display: flex;
  height: 300px;
  flex-direction: column;
  width: 50%;
  padding-top: 10px;
  margin-left: 20px;
  position: relative;
}

.session-buttons {
  bottom: 0;
}

.session-account {
  width: 90%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;

}

.session-buttons {
  display: inline-block;
  width: 80px;
  height: 40px;
  font-family: roboto;
  text-transform: uppercase;
  font-size: 0.8em;
  outline: 0;
  border: 0;
  padding: 15px;
  margin-left: 5px;
  margin-right: 6px;
  font-size: 22px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 4px;
  color:white;
}

#session-delete-btn {
  background: #ea4859;
  border-bottom: 3px solid #b71526;
  font-size: 12px;
  letter-spacing: .15em;
  padding: 12px;
}

#session-edit-btn {
  background-color: #f2dc37;
  border-bottom: 3px solid #FFCC33;
  font-size: 12px;
  letter-spacing: .15em;
  padding: 12px;
}

#session-send-btn {
  background-color: #66ab69;
  border-bottom: 3px solid green;
  font-size: 12px;
  letter-spacing: .15em;
  padding: 12px;
}


#session-delete-btn:hover {
  background-color: #e62739;
  cursor: pointer;
}

#session-edit-btn:hover {
background-color: #fdba44;
  cursor: pointer;
}

#session-send-btn:hover {
  background-color: #a9e6ac;
  cursor: pointer;
}

#session-user-btn {
  background-color: #d0e5e8;
  width: 100%;
  border-bottom: 3px solid #92d3d4;
  font-size: 12px;
  letter-spacing: .15em;
  padding: 12px;
  color:white;
}


#session-user-btn:hover {
  background-color: #bed1d1;
  cursor: pointer;
}


#login-signup-btn {
  background-color: #D96358;
  border-bottom: 3px solid #e60000;
  font-size: 17px;
  width: 110px;
  margin-top: 20px;
  letter-spacing: .15em;
  padding: 12px;
}

#login-signup-btn:hover {
  background-color: #e38a82;
  cursor: pointer;

}


.session-buttons button a {
  text-decoration: none;
  color: black;
}

.session-buttons button .filter {
  margin-top: 0px;
  margin-bottom: 0px;
}

.session-inputs input {
  display: block;
  border: none;
  border-bottom: 2px solid #47c1c2;
  font-size: 1.3em;
  padding: 2%;
  color: #47c1c2;
  background: none;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px  ;
}

form {
  margin-top: 0;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

textarea:focus, input:focus{
    outline: none;
}


h1, h2, p {
  color: #47c1c2;
  font-family: roboto;
}


h3{
  color:#424242;
  font-family: roboto;
  letter-spacing: .07em;
}
