body{
  font-family: arial;
  background-color: #E6F4F6;
}

.headings{
  text-align: left;
  color:#424242;
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  // text-shadow: 5px 5px black;
}

//STYLE FOR APPLICATION.HTML.ERB

.nav{
  background-color: #47C1C2;
  padding:100px;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.nav li{
    display:inline;
}

.nav a{
    display:inline-block;
    padding:2px 5px 8px;
    color:white;
    text-decoration: none;
    font-size: 18px;
    margin:0px;
}

.logo{
  width:300px;
  padding:5px;
  margin:0 auto;
}

#nav-new-card{
  text-align: left;
  margin-right:50px;
}


#nav-login{
  text-align: right;
  margin-left:100px;
}

.content{
  width:100%;
}

.box{
  float:left;
  width:30%;
  margin: 5% 0% 5% 5%;
}

.preview-wrapper{
  width:40%;
  float:left;
  margin:5%;
}

.btn_wrapper{

}

.send_btn, .save_send_btn{
  font-family: roboto;
  text-transform: uppercase;
  outline: 0;
  border:0;
  padding: 12px;
  font-size: 17px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 4px;
  color:white;
  letter-spacing: .15em;
  background-color: black;
  margin-top: 20px;
  background-color: #66ab69;
  border-bottom: 3px solid green;
  display:inline-block;
  float:right;
  margin-left: 3px;
}

.send_btn:hover, .save_send_btn:hover{
  background-color: #339933;
}

.save_send_btn{
  width: 150px;
}

/// NEW CARD ENTRY - STYLE FOR EACH DIV

.box{
  max-width:750px;
  text-align: center;
  height:100%;
}

.box input:not(#color_picker):not(#search_input):not(.send_btn):not(.save_send_btn), .box select, .box textarea {
  font-family: roboto;
  outline: 0;
  background: white;
  width: 100%;
  border: 0;
  margin: 0px 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 0px;
  font-weight: 300;
}

.box label{
  font-family: 'Oswald', sans-serif;
  width: 100%;
  display: block;
  text-align: left;
  letter-spacing: .03em;
  margin-bottom: 8px;
  font-size: 28px;
  margin-top: 15px;
  color:#424242;
}

.prev, .next{
  margin-top: 20px;
  background: #ea4859;
}

.search_btn{
  background-color: #FFCC33;
  border-bottom: 3px solid #d55044;
}

.prev, .next, .search_btn{
  font-family: roboto;
  text-transform: uppercase;
  outline: 0;
  border:0;
  width: 100px;
  padding: 12px;
  font-size: 17px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 4px;
  color:white;
  letter-spacing: .15em;
}

.prev{
  float:left;
  border-bottom: 3px solid #b71526;
}

.next{
  float:right;
  border-bottom: 3px solid #b71526;
}


.next:hover, .prev:hover{
  background-color: #e62739;
}

////TO AND FROM INPUTS

.box select{
  height:40px;
}

////SEARCH IMAGE INPUTS

.search_wrapper{
  width:100%;
  margin-bottom: 20 px;
}

#search_input{
  width:73%;
  float:left;
  margin: 0px 0 15px;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: white;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 0px;
  font-weight: 300;
}

.search_btn{
  float:right;
  width:25%;
  padding:15px;
  font-size: 15px;
  border-bottom: 3px solid #ffeb3b;
}

.search_btn:hover{
  background-color: #fdba44;
}

///////BACKGROUND COLOR

.input_col{
  height:350px;
  width:100%;
}


// MENU LAYOUT
#m_user, #m_create {
  font-size: 50px;
  color: rgba(255, 255, 255, .75);
  cursor: pointer;
}

#m_user:hover, #m_create:hover {
  color: rgba(255, 255, 255, 1);
}
