@font-face {
  font-family: "Bebas";
  src: font-url('assets/fonts/BebasNeue.otf') format('opentype');
}


body{
  font-family: arial;
  background-color: #E6F4F6;
}

.headings{
  text-align: left;
  color:black;
  margin-bottom: 5px;
  font-size: 40px;
  font-family: bebas;
}

//STYLE FOR APPLICATION.HTML.ERB

.nav{
  background-color: #47C1C2;
  padding:100px;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.nav li{
    display:inline;
}

.nav a{
    display:inline-block;
    color:white;
    text-decoration: none;
    font-size: 18px;
    margin:0px;
}

.logo{
  width:320px;
  margin:0 auto;
}

#nav-new-card{
  text-align: left;
  margin-right:50px;
}


#nav-login{
  text-align: right;
  margin-left:100px;
}

.content{
  width:100%;
}

.box{
  float:left;
  width:30%;
  margin: 5% 0% 5% 8.5%;
}

.preview-wrapper{
  width:40%;
  float:left;
  margin:5%;
  margin-left: 3%;
}

// NEW CARD ENTRY - STYLE FOR EACH DIV

.box{
  max-width:750px;
  text-align: center;
  height:100%;
}

.prev{

}

.next{

}

.box input:not(#color_picker):not(#search_input), .box select, .box textarea {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: white;
  width: 100%;
  border: 0;
  margin-bottom: 45px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 0px;
}

.box label{
  text-align: left;
  font-family: roboto;
}

.prev, .next{
  margin-top: 15px;
  background: #D96358;
}

.prev, .next, .search_btn{
  font-family: roboto;
  text-transform: uppercase;
  outline: 0;
  width: 20%;
  padding: 12px;
  font-size: 18px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 4px;
  color:white;
  letter-spacing: .15em;
  border:0;
}

.prev{
  float:left;
  border-bottom: 3px solid #e60000;
}

.next{
  float:right;
  border-bottom: 3px solid #e60000;
}

.search_btn{
  background-color: #FFCC33;
  border-bottom: 3px solid #ff9900;
}


.next:hover, .prev:hover, .search_btn:hover{
  background-color: #e38a82;
}

//SEND BUTTONS

.send_btn{
  font-family: roboto;
  text-transform: uppercase;
  outline: 0;
  width: 20%;
  padding: 12px;
  font-size: 18px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 4px;
  color:white;
  letter-spacing: .15em;
  border:0;
  margin-top:10px;
}


//PREVIEW WINDOW
.preview_col{
  border-radius: 3px;
}

////TO AND FROM INPUTS

.box select{
  height:40px;
}

////SEARCH IMAGE INPUTS

.search_wrapper{
  width:100%;
  margin-bottom: 70px;
}

#search_input{
  width:73%;
  float:left;
  margin: 0px 0 15px;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: white;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 0px;
}

.search_btn{
  float:right;
  width:25%;
  padding:14px;
  font-size: 15px;
}


///////BACKGROUND COLOR

.input_col{
  height:350px;
  padding:5px 7px;
  background-color: black;
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 100%;
  border: 0;
  box-sizing: border-box;
  border-radius: 3px;
}


// MENU LAYOUT
#m_user, #m_create {
  height: 40px;
  width: 40px;
  margin-bottom: 25px;
}
