body{
  font-family: arial;
  background-color: #E6F4F6;
}

//STYLE FOR APPLICATION.HTML.ERB

.nav{
  background-color: #47C1C2;
  padding:100px;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}

.nav li{
    display:inline;
}

.nav a{
    display:inline-block;
    padding:2px 5px 8px;
    color:white;
    text-decoration: none;
    font-size: 18px;
    margin:0px;
}

.logo{
  width:350px;
  padding:5px;
  margin:0 auto;
}

#nav-new-card{
  text-align: left;
  margin-right:50px;
}


#nav-login{
  text-align: right;
  margin-left:100px;
}

.content{
  width:100%;
}

.box{
  float:left;
  width:30%;
  margin: 5% 0% 5% 5%;
}

.preview-wrapper{
  width:40%;
  float:left;
  margin:5%;
}

// NEW CARD ENTRY - STYLE FOR EACH DIV

.box{
  max-width:750px;
  text-align: center;
  height:100%;
}

.prev{

}

.next{

}

.content{
  margin-top: 2%;
}

.box input, .box select, .box textarea {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: white;
  width: 100%;
  border: 0;
  margin: 20px 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 0px;
}

.box label{
  text-align: left;
  font-family: roboto;
}

.prev, .next{
  margin-top: 25px;
  background: #D96358;
}

.search_btn{
  background-color: #FFCC33;
  border-bottom: 3px solid #d55044;
}

.prev, .next, .search_btn{
  font-family: roboto;
  text-transform: uppercase;
  outline: 0;
  width: 20%;
  border: 0;
  padding: 15px;
  font-size: 22px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 4px;
  color:white;
}

.prev{
  float:left;
  border-bottom: 3px solid #e60000;
}

.next{
  float:right;
  border-bottom: 3px solid #e60000;
}


.next:hover, .prev:hover, .search_btn:hover{
  background-color: #e38a82;
}

////TO AND FROM INPUTS

.box select{
  height:40px;
}

////SEARCH IMAGE INPUTS

.search_wrapper{
  width:100%;
  margin-bottom: 120px;
}

#search_input{
  width:73%;
  float:left;
  margin: 0px 0 15px;
}

.search_btn{
  float:right;
  width:25%;
  padding:14px;
  font-size: 15px;
}


///////BACKGROUND COLOR

.input_col{
  height:350px;
}
