body{
  font-family: arial;
  background-color: #E6F4F6;
}

//STYLE FOR APPLICATION.HTML.ERB

.nav{
  background-color: #47C1C2;
  padding:100px;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
  // border-bottom:3px solid #00281f;
  // FDBA16
}

.nav li{
    display:inline;
}

.nav a{
    display:inline-block;
    padding:2px 5px 8px;
    color:white;
    text-decoration: none;
    font-size: 18px;
    margin:0px;
}

.logo{
  width:350px;
  padding:5px;
}

#nav-new-card{
  text-align: left;
  margin-right:50px;
}


#nav-login{
  text-align: right;
  margin-left:100px;
}

// footer{
//   background-color: #47C1C2;
//   color:white;
//   bottom: 0;
//   width:100%;
//   padding:15px;
//   border-top: 2px solid white;
//   position:fixed;
//   margin-top: 150 px;
// }

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}

// NEW CARD ENTRY - STYLE FOR EACH DIV

.box{
  max-width:800px;
  margin:0 auto;
  text-align: center;
}

.space{
  height:50px;
}

.prev{

}

.next{

}

form{
  margin-top: 70px;
}



.box input, .box select, .box textarea {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: white;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 0px;
}

.box label{
  text-align: left;
  font-family: roboto;
}


.box button {
  font-family: roboto;
  text-transform: uppercase;
  outline: 0;
  background: #D96358;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 22px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
