<!DOCTYPE html>
<html>
  <head>
    <title>Alt-E</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul class="nav">
        <li><a href="#">+send a favour</a></li>
        <li><a href="#">Pay It Forward?</a></li>
        <li><a href="#">login</a></li>
      </ul>
    </nav>

    <%= yield %>

    <footer>
        <p>Alt-E and Co.</p>
        <p>Pay It Forward</p>
    </footer>
  </body>
</html>
