<!DOCTYPE html>
<html>
  <head>
    <title>Alt-E</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul class="nav">
        <li id="nav-new-card"><a href="/cards">+ create a favour</a></li>
        <li><a href="/"></a><img src="logo4.png" alt="alt-e gifts" class="logo"></a></li>
        <li id="nav-login"><a href="/session">my account</a></li>
      </ul>
    </nav>

    <%= yield %>

    <footer class="footer">
        <p>Alt-E and Co.</p>
    </footer>
  </body>
</html>
