<!DOCTYPE html>
<html>
  <head>
    <title>Alt-E</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul class="nav">

        <li><a href="/cards"><img src="menu_create.png" alt="alt-e gifts" id="m_create"></a></li>
        <li><a href="/"><img src="logo4.png" alt="alt-e gifts" class="logo"></a></li>
        <li><a href="/session"><img src="menu_user.png" alt="alt-e gifts" id="m_user"></a></li>

      </ul>
    </nav>

    <%= yield %>

    <footer class="footer">
        <!-- <p>Alt-E and Co.</p> -->
    </footer>
  </body>
</html>
