<!DOCTYPE html>
<html>
  <head>
    <title>Alt-E</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">
  </head>

  <body>
    <nav>
      <ul class="nav">

        <form id="new_card_button" action="/cards" method="get">
          <i class="fa fa-newspaper-o" onclick="$('#new_card_button').submit();"alt="alt-e gifts" id="m_create" aria-hidden="true"></i>
        </form>
        <li><a href="/"><img src="/images/logo4.png" alt="alt-e gifts" class="logo"></a></li>
        <li><a href="/session"><i alt="alt-e gifts" id="m_user" class="fa fa-user-circle-o" aria-hidden="true"></i></a></li>


      </ul>
    </nav>

    <%= yield %>

    <footer class="footer">
        <!-- <p>Alt-E and Co.</p> -->
    </footer>
    <script src="https://use.fontawesome.com/af946fa77f.js"></script>
  </body>
</html>
